<form id="input-form">
  <div class="input-name">
    <label>Level Name</label>
    <input
      name="name"
      placeholder="Name"
      type="text"
      minlength="1"
      maxlength="100"
    />
  </div>
  <div class="width-resolution">
    <label for="width-resolution">Width</label>
    <input id="width-resolution" type="number" value="1280" name="width" />
  </div>
  <div class="height-resolution">
    <label for="height-resolution">Height</label>
    <input id="height-resolution" type="number" value="720" name="height" />
  </div>
  <button type="submit">Submit</button>
</form>
